/*  ##### ##### ##### RESET & DEFAULTS ##### ##### ##### */

:root {
--color-primary:    #27aabe;
--color-secondary:  #fc8c5e;
--color-text:       #62676c;
--gray-light:       #cfcfcf;

--spacing-more: calc(var(--spacing-standard) * 3); /* = 30px */
--header-menu-height:    10rem;
}

body {
    font-family: 'Fira Sans', sans-serif;
    color: var(--color-text);
    font-size: 1.5rem;
    letter-spacing: 1px;
}

p {
    margin: 0;
}

ul {
    list-style-type: none;
}

input {
    outline: none;
}

/*  ##### ##### ##### LAYOUT ##### ##### ##### */

.inner-wrapper {
    max-width: 1230px;
    margin: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.high-padding-section {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

/*  ##### ##### ##### BUTTONS ##### ##### ##### */

button {
    font-size: 1.5rem;
}

button.btn {
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 2px;
    color: white;
}

button.btn-black , 
.header button {
    background-color: black;
}

/*  ##### ##### ##### UTILITIES ##### ##### ##### */

.bg-lightgray {
    background-color: #f2f2f2;
}

.text-more-spacing {
    letter-spacing: 5px;
    display: block;
    color: black;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: var(--spacing-more);
}

h2 ,
h3 ,
h4 {
    color:black;
}

h2 {
    font-size: 4rem;
    line-height: 5rem;
}

.custom-separator {
    max-width: 8rem;
    margin: 2rem auto 4rem;
    border: 1px solid var(--color-secondary);
}

/* Black Boxes */

section.black-box {
    height: 15rem;
    background-color: black;
    font-weight: 700;
}

section.black-box a::after {
    content: ' \27F6';
}

/*  ##### ##### ##### HEADER ##### ##### ##### */

/* Header Menu Bar*/

.header .header-menu-bar {
    height: var(--header-menu-height);
    background-color: var(--color-primary);
}

.header-menu-bar .outer-logo img {
    max-height: 6rem;
    transform: translateY(-4px);    /* align with menu items*/
}

.header-menu-bar .flex-container {
    justify-content: space-between;
}

.header-menu-bar .flex-container .header-nav {
    flex: 1 0 auto;
}

.header-menu-bar .inner-wrapper ,
.header-menu-bar .inner-wrapper nav.header-nav ,
.header-menu-bar .inner-wrapper nav.header-nav ul.main-menu {
    height: 100%;
}

.header-menu-bar .header-nav .main-menu.flex-container {
    justify-content: flex-end;
}

.main-menu .main-menu-item {
    min-width: 5rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
}

.main-menu .main-menu-item.header-search-button {
    text-align: right;
    min-width:unset;
}
.main-menu .main-menu-item.header-search-button::before {
    content: '\f002';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 2rem;
}

.main-menu .main-menu-item.active-item::after , 
.main-menu .main-menu-item:not(.header-search-button):hover::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50% , 100%);
    bottom: calc( (var(--header-menu-height) - 5rem) / 2 * -1);

    border-top: 1.5rem solid var(--color-primary);
    border-bottom: 1.5rem solid transparent;
    border-left: 1.5rem solid transparent;
    border-right: 1.5rem solid transparent;
}

/*  Jumbotron   */
section.jumbotron {
    background-image: url('../img/home_slider_bg.jpg');
    background-position: center;
    background-size: cover;
}

.inner-jumbotron.flex-container {
    min-height: calc(100vh - var(--header-menu-height));
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.jumbotron h1 {
    font-size: 15rem;
    line-height: 15rem;
}

.jumbotron p {
    font-size: 2.4rem;
    line-height: 3rem;
}

/*  ##### ##### ##### MAIN ##### ##### ##### */

/* Place to Be */

section.place-to-be p {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
}

.place-to-be .inner-wrapper {
    max-width: 800px;
}

/* Forum Sections   */

.forum-sections .cards-container {
    flex-wrap: wrap;
    justify-content: space-between;
}

.forum-section-card {
    flex: 0 0 27.5rem;
    height: 27.5rem;
    margin-bottom: calc(100px / 3);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    background-color: white;
    border-top: 2px solid var(--color-primary);
}

.forum-section-card .section-icon {
    width: 8rem;
    height: 8rem;
    margin-bottom: 2.5rem;
    font-size: 4.5rem;
    line-height: 8rem;
    color: white;
    background-color: var(--color-secondary);
    border-radius: 50%;
}

.forum-section-card h3 {
    font-size: 2.2rem;
    line-height: 2.6rem;
}

/* Join US */

section.join-us {
    background-image: url('../img/join_now_cta_bg.jpg');
    background-size: cover;
    background-position: center;
}

.join-us .inner-wrapper {
    max-width: 500px;
}

/* subscribe*/

.subscribe .outer-input-form input {
min-width: 300px;
min-height: 40px;
border: 1px solid var(--gray-light);
}

.subscribe .outer-input-form button.btn {
    min-width: 150px;
    min-height: 40px;
}

.subscribe h2 {
    font-size: 2.2rem;
    line-height: 2.6rem;
}

/*  ##### ##### ##### FOOTER ##### ##### ##### */


/* Footer Menus (top bar) */
.footer a {
    color: black;
}

.footer .footer-menus .footer-menus-container.flex-container{
    justify-content: space-between;
    align-items: flex-start;
}

.single-footer-menu-outer {
    flex: 0 0 calc( (100% - 6rem) / 4 );
    line-height: 3rem;
}

.single-footer-menu-outer h4 {
    text-transform: uppercase;
}

.single-footer-menu-outer p {
    padding: 1rem 0;
}

.single-footer-menu-outer ul li {
    border-bottom: 1px solid var(--gray-light);
    padding: 1rem;
    padding-left: 2rem;
    position: relative;
}

.single-footer-menu-outer ul li::before {
    content: '\003e';
    position: absolute;
    left: 0;
}

/* Footer Bottom Bar */

.footer .footer-bottom-bar {
    border-top: 1px solid var(--gray-light);
}

.footer .flex-container {
    justify-content: space-between;
}

.footer .copyright-bar {
    line-height: 2.5rem;
    letter-spacing: 1.5px;
}

.footer .footer-bottom-bar .social-icons {
    flex: 0 0 auto;
}

.footer .footer-bottom-bar .social-icons li {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border-radius: 50%;
}