/*  ##### ##### ##### RESET & DEFAULTS ##### ##### ##### */

:root {
--color-primary:    #27aabe;
--color-secondary:  #fc8c5e;
--color-text:       #62676c;
--gray-light:       #cfcfcf;

--spacing-more: calc(var(--spacing-standard) * 3); /* = 30px */
--header-nav-height:    10rem;
}

body {
    font-family: 'Fira Sans', sans-serif;
    color: var(--color-text);
    font-size: 1.5rem;
    letter-spacing: 1px;
}

a ,
a:link ,
a:visited {
    color : black;
    transition: color .25s;
}
a:hover {
    color: var(--color-primary);
}

/*  ##### ##### ##### LAYOUT ##### ##### ##### */

.inner-wrapper {
    max-width: 1230px;
    margin: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.high-padding-section {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

/*  ##### ##### ##### BUTTONS ##### ##### ##### */

button {
    font-size: 1.5rem;
}

.btn {
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 2px;
    color: white;
    transition: background-color .25s;
}

.btn.btn-black {
    background-color: black;
}

.btn:hover {
    background-color: var(--color-secondary);
}

/*  ##### ##### ##### HEADINGS ##### ##### ##### */

h1 {
    font-size: 15rem;
    line-height: 15rem;
}

h2 {
    font-size: 4rem;
    line-height: 5rem;
}

h3 {
    font-size: 2.2rem;
    line-height: 2.6rem;
}

h4 {
    font-size: 1.8rem;
    line-height: 2.2rem;
}

h2 ,
h3 ,
h4 {
    color:black;
}



/*  ##### ##### ##### UTILITIES ##### ##### ##### */

.bg-lightgray {
    background-color: #f2f2f2;
}

.text-more-spacing {
    letter-spacing: 5px;
    display: block;
    font-weight: 400;
    text-transform: uppercase;
}


.custom-separator {
    max-width: 8rem;
    margin: 2rem auto 4rem;
    border: 1px solid var(--color-secondary);
}

section.black-box {
    height: 15rem;
    background-color: black;
    font-weight: 700;
    font-size: 1.2em;
    transition: background-color .5s;
}
section.black-box:hover {
    background-color: var(--color-primary);
}

.black-box a {
    color: white;
}

section.black-box a::after {
    content: ' \27F6';
}

/*  ##### ##### ##### HEADER NAV ##### ##### ##### */

.header {
    margin-top: var(--header-nav-height);
}

.header a {
    color: white;
}

.header .header-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: var(--color-primary);
}

.main-menu.flex-container {
    height: var(--header-nav-height);
    justify-content: flex-end;
}

.main-menu .main-menu-item {
    min-width: 5rem;
    height: 5rem;
    line-height: 5rem;
    margin: 0 2rem;
    text-align: center; 
}

.main-menu .main-menu-item.outer-logo {
    order: -1;
    flex-grow: 1;
    height: auto;
    transform: translateY(-.6rem);
    margin-left: 0;
    text-align: left;
}
.main-menu .outer-logo img {
    display: block;
    max-height: 6rem;
}

.main-menu .search-button {
    order: 1;
    min-width:unset;
    margin-right: 0;    
    font-size: 2rem;
    text-align: right;
}

.main-menu .main-menu-item.active-item::after , 
.main-menu .main-menu-item:not(.search-button):not(.outer-logo):hover::after {
    /*  Triangolino che appare sotto le voci attive ed hover del menu */
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50% , 100%);
    bottom: calc( (var(--header-nav-height) - 5rem) / 2 * -1);

    border-top: 1.5rem solid var(--color-primary);
    border-bottom: 1.5rem solid transparent;
    border-left: 1.5rem solid transparent;
    border-right: 1.5rem solid transparent;
}

/*  ##### ##### ##### JUMBOTRON ##### ##### ##### */

section.jumbotron {
    background-image: url('../img/home_slider_bg.jpg');
    background-position: center;
    background-size: cover;
}

.inner-jumbotron.flex-container {
    min-height: calc(100vh - var(--header-nav-height));
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.jumbotron p {
    font-size: 2.4rem;
    line-height: 3rem;
}

.jumbotron button.btn {
    padding: 1.7rem 4rem;
    font-size: 1.8rem;
}

/*  ##### ##### ##### MAIN ##### ##### ##### */

/* Place to Be */

section.place-to-be p {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
}

.place-to-be .inner-wrapper {
    max-width: 800px;
}

/* Latest News Section (General Layoyt) */

.news-box-container.flex-container {    
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.news-box-container .single-news-box {
    flex : 0 0 calc( (100% - ( var(--spacing-more) * 2 ) ) / 3 );    
    margin-bottom: var(--spacing-more);
}

.news-box-container .single-news-box.featured-blog-post {
    flex-basis: 100%;
}

.news-box-container .single-news-box.featured-review {
    flex-basis: calc( (100% - var(--spacing-standard) ) / 3 * 2 );
}

/* Latest News Section (Sigle Card) */

        /* article preview */

.article-preview span.article-metadata{
    display: block;
}

img.article-image {
    display: block;
}

.blog-post-preview img.article-image {
    width: 100%;
}
        /* featured article (post and reviews) */

.single-news-box.featured-article {
    padding: 12rem 5rem;
    background-position: center;
    background-size: cover;
}

.single-news-box.featured-blog-post {
    background-image: url('../img/featured_article_1_bg.jpg');
}
.single-news-box.featured-review {
    background-image: url('../img/featured_article_2_bg.jpg');
}

.single-news-box.featured-article h4 {
    font-size: 3rem;
    line-height: 4rem;
}

        /* latest tutorials */

.tutorial-preview img.article-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.latest-tutorials hr.custom-separator {
    margin-left: 0;
}

/* Forum Sections   */

.forum-sections .cards-container {
    flex-wrap: wrap;
    justify-content: space-between;
}

.forum-section-card {
    flex: 0 0 27.5rem;
    height: 27.5rem;
    margin-bottom: calc(100px / 3);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    background-color: white;
    border-top: 2px solid var(--color-primary);
}

.forum-section-card .section-icon {
    width: 8rem;
    height: 8rem;
    margin-bottom: 2.5rem;
    font-size: 4.5rem;
    line-height: 8rem;
    color: white;
    background-color: var(--color-secondary);
    border-radius: 50%;
}

/* Join US */

section.join-us {
    background-image: url('../img/join_now_cta_bg.jpg');
    background-size: cover;
    background-position: center;
}

.join-us .inner-wrapper {
    max-width: 500px;
}

/* subscribe*/

.subscribe .outer-input-form input {
min-width: 300px;
min-height: 40px;
border: 1px solid var(--gray-light);
}

.subscribe .outer-input-form button.btn {
    min-width: 150px;
    min-height: 40px;
}

.subscribe h2 {
    font-size: 2.2rem;
    line-height: 2.5rem;
}

/*  ##### ##### ##### FOOTER ##### ##### ##### */

/* Footer Menus (top bar) */

.footer .footer-menus .footer-menus-container.flex-container{
    justify-content: space-between;
    align-items: flex-start;
}

.single-footer-menu-outer {
    flex: 0 0 calc( (100% - 6rem) / 4 );
    line-height: 3rem;
}

.single-footer-menu-outer h4 {
    text-transform: uppercase;
}

.single-footer-menu-outer p {
    padding: 1rem 0;
}

.single-footer-menu-outer ul li {
    border-bottom: 1px solid var(--gray-light);
    padding: 1rem;
    padding-left: 2rem;
    position: relative;
}

.single-footer-menu-outer ul li::before {
    content: '\003e';
    position: absolute;
    left: 0;
}

/* Footer Bottom Bar */

.footer .footer-bottom-bar {
    border-top: 1px solid var(--gray-light);
}

.footer .flex-container {
    justify-content: space-between;
}

.footer .copyright-bar {
    line-height: 2.5rem;
    letter-spacing: 1.5px;
}

.footer .footer-bottom-bar .social-icons {
    flex: 0 0 auto;
}

.footer .footer-bottom-bar .social-icons li {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border-radius: 50%;
}